# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Commonly used libraries used by Data Scientists
* Simple expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
* Pychorh
* Pandas
* NumPy


| Data Science Tools |
|:--------:|
|  Jupyter NoteBooks   |
|  RStudio   |
|  Visual Studio Code  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
Tinh Nguyen